Package: com.jiaxw.WeChatTweak
Name: WeChatTweak
Version: 1.0
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: jiaxw
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

