Package: com.jiaxw.AwesomeWeChat
Name: AwesomeWeChat
Version: 1.6
Description: Awesome WeChat tools.
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: jiaxw
dev: 
Homepage: 
Depiction:
Maintainer: 
Icon: 

